# 1. Basic Function

In [11]:
import findspark
findspark.init()
import pyspark
from pyspark.sql import SparkSession

In [13]:
spark = SparkSession.builder.appName("TEST").getOrCreate()

22/12/08 19:27:56 WARN Utils: Your hostname, truongpham.local resolves to a loopback address: 127.0.0.1; using 192.168.55.100 instead (on interface en0)
22/12/08 19:27:56 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/12/08 19:28:27 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [14]:
spark

In [80]:
df_spark = spark.read.options(delimiter=";", header=True).csv('test.csv')

In [81]:
df_spark.show()

+--------------+----+---+
|           Tên|Tuổi|Exp|
+--------------+----+---+
|   Trường Farm|  18|  2|
|       Lập Sec|  21|  3|
|Hưng Fernandes|  31|  4|
|    Nhật Johny|  12|  5|
+--------------+----+---+

In [82]:
df_spark.head(2)

[Row(Tên='Trường Farm', Tuổi='18', Exp='2'),
 Row(Tên='Lập Sec', Tuổi='21', Exp='3')]

In [83]:
df_spark.printSchema()

root
 |-- Tên: string (nullable = true)
 |-- Tuổi: string (nullable = true)
 |-- Exp: string (nullable = true)

In [84]:
df_spark.columns

['Tên', 'Tuổi', 'Exp']

In [85]:
df_spark.select(['Tên', 'Exp']).show()

+--------------+---+
|           Tên|Exp|
+--------------+---+
|   Trường Farm|  2|
|       Lập Sec|  3|
|Hưng Fernandes|  4|
|    Nhật Johny|  5|
+--------------+---+

In [87]:
df_spark.dtypes

[('Tên', 'string'), ('Tuổi', 'string'), ('Exp', 'string')]

In [88]:
df_spark.describe().show()

+-------+--------------+-----------------+------------------+
|summary|           Tên|             Tuổi|               Exp|
+-------+--------------+-----------------+------------------+
|  count|             4|                4|                 4|
|   mean|          null|             20.5|               3.5|
| stddev|          null|7.937253933193772|1.2909944487358056|
|    min|Hưng Fernandes|               12|                 2|
|    max|   Trường Farm|               31|                 5|
+-------+--------------+-----------------+------------------+

In [91]:
df_spark.withColumn('Exp After 2 Years', df_spark['Exp'] > 2).show()

+--------------+----+---+-----------------+
|           Tên|Tuổi|Exp|Exp After 2 Years|
+--------------+----+---+-----------------+
|   Trường Farm|  18|  2|            false|
|       Lập Sec|  21|  3|             true|
|Hưng Fernandes|  31|  4|             true|
|    Nhật Johny|  12|  5|             true|
+--------------+----+---+-----------------+

In [90]:
df_spark.show()

+--------------+----+---+
|           Tên|Tuổi|Exp|
+--------------+----+---+
|   Trường Farm|  18|  2|
|       Lập Sec|  21|  3|
|Hưng Fernandes|  31|  4|
|    Nhật Johny|  12|  5|
+--------------+----+---+

In [94]:
df_spark.withColumnRenamed('Tên', 'Name').show()

+--------------+----+---+
|          Name|Tuổi|Exp|
+--------------+----+---+
|   Trường Farm|  18|  2|
|       Lập Sec|  21|  3|
|Hưng Fernandes|  31|  4|
|    Nhật Johny|  12|  5|
+--------------+----+---+

In [95]:
df_spark.drop('Tên').show()

+----+---+
|Tuổi|Exp|
+----+---+
|  18|  2|
|  21|  3|
|  31|  4|
|  12|  5|
+----+---+

# 2. Handle Missing Value